<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="employee" value="employees.xml"/>
    <add key="department" value="departments.xml"/>
  </appSettings>
  <!--<ResourceDictionary.MergedDictionaries>
    <ResourceDictionary Source="/ProjektAplikacjeWeboweIMobilne;component/ResourcesDictionary/TextBlockStyles.xaml"></ResourceDictionary>
  </ResourceDictionary.MergedDictionaries>-->
</configuration>